@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');
/* font-family: 'Zen Kaku Gothic New', sans-serif; */


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(90deg, #FFEEEE 0%, #DDEFBB 100%); 
  
}

